<section>
    <div>
        <form action='@Url.Action("ActualizarHorario", "Turnos")' method="post">
        <input type="datetime-local"><br><br>
        <button type="submit">Cambiar Horario</button>
        </form>
    </div>
</section>